/* seletor por id */
#titulo {
    color: green;
    text-align: center;
}
p#descricao {
    color: blue;
}

p.promocao {
    text-align: center;
    background-color: lightgreen;
}
/* . é de classe */

h1.promocao{
    color: aqua;
}

.nova {
    color: white;
}

p.final-pagina#rodape{
    background-color: lightblue;
    text-align: center;
} 
.curso, .novo-curso, #contato, #rodape{
    padding: 12px;
    background-color: aliceblue;
    border: 1px solid lightgrey;
}

.novo-curso{
    color: red;
}

/* .curso{
    background-color: lightcoral;
}

.novo-curso{
    background-color: lightcoral;
    color: red;
} */

/* seletores */
/* seletor por tipo */
        /* p {
            color: blue;
        }
        h1 {
            color: green;
        }
        strong {
            color: red
        } */
